/*Pintar todos los td de color negro*/
table.wp-list-table tbody td{
    color: #2a2a2a;
}

.text_color_default{
    color: #777777 !important;
    font-size: .8rem;
}

.text_color_default:hover{
    color: #106991 !important;
}

.thumbnail-admin{overflow:hidden}

.thumbnail-admin .image {
    height: 105px;
    overflow: hidden; }

.form-control{
    font-size: .85rem;
}

/* color al placeholder */
.form-control::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color: #787878;
}

.form-control::-moz-placeholder { /* Mozilla Firefox 19+ */
   color: #cecece;
   opacity:  1;
}

.table-col-sm {
    width: 50px;
}
.table-col-lg {
    width: 150px;
}
.table-col-md {
    width: 100px;
}


